<!DOCTYPE html>
<html>
  <head>
  <title>Airport</title>

   <!--Nav Bar-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/airport.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhc8g7GgjXig6yXX4jqGOahy9zNHDPjG4&libraries=geometry,places"></script>
    <!--Webcam-->
    <link href="/css/camera.css" rel="stylesheet">
    <script src="/js/airport.js"></script>





    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>




	<!-- this is a comment in HTML -->
	<div class="container">
		<div class="jumbotron">
  			<h1>Airport</h1>
		</div>

        <nav class="nav">
            <div class="burger">
                <div class="burger__patty"></div>
            </div>

            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/homepage" class="nav__link c-purple"><i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/airport" class="nav__link c-blue"><i class="fa fa-plane" aria-hidden="false"></i></a>
                </li>
                <li class="nav__item">
                    <a href="/school" class="nav__link c-yellow scrolly"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="nav__item">
                    <a href="/home" class="nav__link c-red"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link c-green"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>


        <!-- Navigation header for topics in airport -->
        <ul class="navi nav-tabs">
            <li class="active"><a data-toggle="tab" href="#map-page">Map</a></li>
            <li><a data-toggle="tab" href="#boarding-pass">Boarding Pass</a></li>
            <li><a data-toggle="tab" href="#id">ID</a></li>
        </ul>

        <!-- Control animations and content of navigation header -->
        <div class="tab-content">
            <div id="map-page" class="tab-pane fade in active">
                <h3 class="card-title" >Your current location: </h3>
                    <div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>
            </div>
            <div id="boarding-pass" class="tab-pane fade" >
                <h3 class="well">Boarding Pass for {{login.userName}}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="bp-title">Flight:</h4>
                            <p class="bp-deets">{{boardingInfo.flight}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Destination:</h4>
                            <p class="bp-deets">{{boardingInfo.destination}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Passenger:</h4>
                            <p class="bp-deets">{{boardingInfo.passenger}}</p>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-sm-4">
                            <h4 class="bp-title">Gate:</h4>
                            <p class="bp-deets">{{boardingInfo.gate}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Departure:</h4>
                            <p class="bp-deets">{{boardingInfo.departure}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Class:</h4>
                            <p class="bp-deets">First</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="bp-title">Tracking:</h4>
                            <p class="bp-deets">{{boardingInfo.tracking}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Barcode:</h4>
                            <img src="images/barcode.png">
                        </div>
                    </div>

                </div>
            </div>
            <div id="id" class="tab-pane fade">
                <h3>Capture your ID with your webcam</h3>
                <div id="container1">
                <video autoplay="true" id="videoElement"></video>
                 <button class="btn btn-primary popup" onclick="myFunction()" id="cameraButton">Capture Photo
                 <span class="popuptext" id="myPopup">click!</span></button>
                </div>                
            </div>

        </div>
	</div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
     <!-- Nav Script-->
    <script src="js/vertnav.js"></script>
    <!--Webcam Script-->
    <!-- <script src="js/camera.js"></script> -->



  </body>
</html>
