<!DOCTYPE html>
<html>
  <head>
  <title>Airport</title>

   <!--Nav Bar-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/airport.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhc8g7GgjXig6yXX4jqGOahy9zNHDPjG4&libraries=geometry,places"></script>
    <!--Webcam-->
    <link href="/css/camera.css" rel="stylesheet">
    <script src="/js/airport.js"></script>






    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>




	<!-- this is a comment in HTML -->
	<div class="container">
		<div class="jumbotron">
  			<h1>Airport</h1>
		</div>


        <h2>Welcome to {{airport.nearest.place_name}}</h2>
        <p style="margin-bottom: 30px">In the tabs below is all the relevant information you need during your travels. Enjoy!</p>
        <input type="file" accept="image/*" capture="camera">

        <!-- Navigation header for topics in airport -->
        <ul class="navi nav-tabs">
            <li class="active"><a data-toggle="tab" href="#map-page">Map</a></li>
            <li><a data-toggle="tab" href="#boarding-pass">Boarding Pass</a></li>
            <li><a data-toggle="tab" href="#id">ID</a></li>
        </ul>

        <!-- Control animations and content of navigation header -->
        <div class="tab-content">
            <div id="map-page" class="tab-pane fade in active">
                <h3 class="card-title" >Your current location: (just pretend for the purpose of your task) </h3>
                    <div id="map_canvas" style="width:750px; height:450px; border: 2px solid #3872ac;"></div>
            </div>
            <div id="boarding-pass" class="tab-pane fade" style="margin-bottom: 40px" >
                <h3 class="well">Boarding Pass for {{login.userName}}</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="bp-title">Flight:</h4>
                            <p class="bp-deets">{{boardingInfo.flight}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Destination:</h4>
                            <p class="bp-deets">{{boardingInfo.destination}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Passenger:</h4>
                            <p class="bp-deets">{{boardingInfo.passenger}}</p>
                        </div>
                    </div>
                    <div class="row">  
                        <div class="col-sm-4">
                            <h4 class="bp-title">Gate:</h4>
                            <p class="bp-deets">{{boardingInfo.gate}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Departure:</h4>
                            <p class="bp-deets">{{boardingInfo.departure}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Class:</h4>
                            <p class="bp-deets">First</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="bp-title">Tracking:</h4>
                            <p class="bp-deets">{{boardingInfo.tracking}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h4 class="bp-title">Barcode:</h4>
                            <img src="images/barcode.png">
                        </div>
                    </div>
                </div>
            </div>
            <div id="id" class="tab-pane fade">
             <div class= "container">
                <h3 id = "noCurrentID">No current ID!   Please grant camera permissions to your browser so you can add a photo of your ID </h3>
                <!-- <i class="fa fa-id-card-o fa-5x" id ="iconID" aria-hidden="true"></i> -->
                <video autoplay="true" id="videoElement"></video>
                <button class="btn btn-primary popup" onclick="addID()" id="cameraButton">
                    Click here to capture photo of ID <span class="popuptext" id="myPopup">click!</span>
                </button>
                </div>  
                <button class="btn btn-primary" id="takePhoto" style="display: none;" onclick="showID()">
                    Take Photo! 
                </button>  
                <div>
                    <img id="photoID" src="../images/idcard.jpg" style="display: none;">
                </div>            
            </div>

            </div>
	</div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
     <!-- Nav Script-->
    <script src="js/vertnav.js"></script>
    <!--Webcam Script-->
    <script src="js/camera.js"></script>
    <script src="https://use.fontawesome.com/4e6157d83b.js"></script>



  </body>
</html>
