<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">
	<link href="/css/card.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel="stylesheet" href="css/materialize.css">
          <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>



	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
	


		<div class="jumbotron">
			<h1>Hello, {{login.userName}}</h1>
			<p>Context-based info delivered</p>
		</div>

	

		<h4>Closest areas to you:</h4>
	 <div class="row">
        <div class="col s12 m7">
          <div class="card hoverable">
            <div class="card-image">
              <img src="images/airplane.jpg">
              <span class="card-title">Airport</span>
            </div>
            <div class="card-content">
              <p>Get all the information you need to prepare you for flight.</p>
            </div>
            <div class="card-action">
               <a class="waves-effect waves-teal btn-flat grey-text text-darken-3">Get my information</a>
            </div>
          </div>
        </div>
      </div>


        


 		 <!--school-->
 		 <div class ="card" style="width: 70%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/{{context.closest.card.img}}" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/{{context.closest.card.href}}" class="btn btn-primary" style = "width:100%">
	    			<i class="{{context.closest.card.favicon}}" aria-hidden="true"></i> {{context.closest.area_name}}</a>
  			</div>
 		 </div>

 		  		 <!--school-->
 		 <div class ="card" style="width: 70%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/{{context.close.card.img}}" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/{{context.close.card.href}}" class="btn btn-primary" style = "width:100%">
	    			<i class="{{context.close.card.favicon}}" aria-hidden="true"></i> {{context.close.area_name}}</a>
  			</div>
 		 </div>

 		  		 <!--school-->
 		 <div class ="card" style="width: 70%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/{{context.closeish.card.img}}" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/{{context.closeish.card.href}}" class="btn btn-primary" style = "width:100%">
	    			<i class="{{context.closeish.card.favicon}}" aria-hidden="true"></i> {{context.closeish.area_name}}</a>
  			</div>
 		 </div>

 		 		<!--airport card-->
<!-- 		<div class ="card" style="width: 20%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/airport.jpg" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/airport" id='example' rel='popover' data-placement='auto' data-trigger ="hover" title = 'Hey there!' data-content='Click a location to begin' class="btn btn-primary" style = "width:100%">
	    			<i class="fa fa-plane fa-lg" aria-hidden="true"></i> Airport</a>

	  		</div>
	  	</div> -->


 		 <!--home-->
<!--  		 <div class ="card" style="width: 20%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/home.png" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/home" class="btn btn-primary" style = "width:100%">
	    			<i class="fa fa-home fa-lg" aria-hidden="true"></i> Home</a>
	  		</div>
 		 </div> -->

	 		  <!--about-->
 		 <div class ="card" style="width: 25%">
			<img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/about.png" data-holder-rendered="true">
			<div class="card-block">
	    		<h4 class="card-title"></h4>
	    		<a href="/about" class="btn btn-primary" style = "width:100%"> 
	    			<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> About</a> 
	  		</div>
 		 </div>
 		<!--nav bar-->
	<div class="fixed-action-btn vertical">
    <a class="btn-floating btn-large  grey darken-3">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
    <ul>
      <li><a href="/school" class="btn-floating cyan"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
      <li><a href="/home" class="btn-floating cyan darken-2"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li><a href="/about" class="btn-floating cyan darken-4 "><i class="fa fa-info" aria-hidden="true"></i></a></li>
    </ul>
  </div>
 	</div>
 	 

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
<!-- 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
 -->	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script> -->
<!-- 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
 -->	<!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
	<script src="js/vertnav.js"></script>
	<!-- new nav script -->
	<script src="js/polyfills.js"></script>
		<script src="js/demo1.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</body>
</html>
