<!doctype html>

<html>
<head>
  <title>HCI Project Portfolio</title>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

      
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     
  <!--Import materialize.css-->
  <link rel="stylesheet" href="css/materialize.css">

  <link rel="stylesheet" type="text/css" href="css/animate.css">


  <link rel="stylesheet" href="css/newairport.css">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhc8g7GgjXig6yXX4jqGOahy9zNHDPjG4&libraries=geometry,places"></script>
  <script src="/js/airport.js"></script>

</head>

<body>

<!--header-->
<div class="navbar-fixed">
<nav>
    <div class="nav-wrapper cyan darken-2">
       <a href="homepage" class="brand-logo center" style="font-weight: 200; font-family: pacifico; text-decoration: none"><i class="fa fa-plane" aria-hidden="true" style="margin-top: 14px; margin-right: 6px"></i>Info Hub</a>
       <a href="javascript:history.back()"><i class="fa fa-chevron-circle-left fa-2x" style="margin-left: 13px; margin-top: 13px;" aria-hidden="true"></i></a>
    </div>
  </nav>
  </div>
      <!--nav sandwhich bar-->
  <div class="fixed-action-btn vertical click-to-toggle animated slideInRight">
    <a class="btn-floating btn-large grey darken-3 waves-effect waves-circle waves-light">
      <i class="fa fa-bars"></i>
    </a>
    <ul>
      <li><a href="/homepage" class="btn-floating cyan lighten-3"><i class="material-icons"> view_day</i></a></li>
      <li><a href="/newairport" class="btn-floating light-blue darken-4"><i class="fa fa-plane" aria-hidden="true"></i></a></li>
      <li><a href="/newschool" class="btn-floating cyan darken-2"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a></li>
      <li><a href="/home" class="btn-floating cyan darken-4 "><i class="fa fa-home" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  
  <div class="outer_Bounds blue-grey lighten-4">
  <div class="container">


       <div class="row" id="row1">
        <div class="col s12 m7">
          <div class="card hoverable scrollspy animated slideInLeft" id="card_flight">
             <a href="#modal0" style="text-decoration: none"><div class="card-image">
             <img src="images/location.jpg">
            </div>
            <div class="card-content brown-text text-brown darken-1">
              <center><P style="font-weight: 200;margin-top: 10px">CURRENT LOCATION</center>
              <span class="card-title cyan-text text-darken-4"><center style="margin-top: -3px; font-weight: 200;line-height: initial;">{{airport.nearest.place_name}}</center></span>
            </div></a>
            <div class="card-action">
               <center><a href="#modal0" class="waves-effect waves btn-flat brown-text text-brown darken-1" style="text-decoration: none; font-weight: 200">Show nearest airport</a></center>
            </div>
          </div>
        </div>
      </div>

       <div class="row" id="row1">
        <div class="col s12 m7">
          <div class="card hoverable scrollspy animated slideInLeft" id="card_school">
             <a href="#modal1" style="text-decoration: none"><div class="card-image">
              <img src="images/boardingpass.png">
            </div>
            <div class="card-content brown-text text-brown darken-1">
              <center><P style="font-weight: 200;margin-top: 10px">YOUR TICKET TO</center>
              <span class="card-title cyan-text text-darken-4"><center style="margin-top: -14px; font-weight: 200">{{boardingInfo.destination}}</center></span>
            </div></a>
            <div class="card-action">
               <center><a href="#modal1" class="waves-effect waves btn-flat brown-text text-brown darken-1" style="text-decoration: none; font-weight: 200">Show my boarding pass</a></center>
            </div>
          </div>
        </div>
      </div>
      <br>

       <div class="row" id="row2">
        <div class="col s12 m7">
          <div class="card hoverable scrollspy" id="card_home">
            <div class="card-image">
               <a href="#modal2" style="text-decoration: none"><img src="images/fingerprint.png">
            </div>
            <div class="card-content brown-text text-brown darken-1">
              <center><P style="font-weight: 200;margin-top: 10px">IDENTIFICATION FOR</center>
              <span class="card-title cyan-text text-darken-4"><center style="margin-top: -14px; font-weight: 200">{{boardingInfo.passenger}}</center></span>
            </div></a>
            <div class="card-action">
               <center><a href="#modal2" class="waves-effect waves btn-flat brown-text text-brown darken-1" style="text-decoration: none; font-weight: 200">Show my ID</a></center>
            </div>
          </div>
        </div>
      </div>
        <br>
        <br>
        <br>
      </div>



     <!-- Modal for location -->
  <div id="modal0" class="modal animated slideInUp" style="border-radius: 14px;margin-bottom: 50px; max-height: 479px">
    <div class="modal-content cyan lighten-5" style="border-radius: 10px; height: 479px">
      <div class="row">
        <div class="col s12">
        <h5 style="margin-top: 20px; font-weight: 200"><center><i class="fa fa-compass animated slideInLeft" aria-hidden="true"></i> Your Location</center></h5>
        </div>
      </div>
      <div class="row">
        <center>
        <div id="map_canvas" style="width:90%; height:350px"></div>
        </center>
      </div>
    </div>
  </div>
        


     <!-- Modal for boarding pass -->
  <div id="modal1" class="modal animated slideInUp" style="border-radius: 14px;margin-bottom: 50px; max-height: 479px; overflow-y: hidden">
    <div class="modal-content cyan lighten-5" style="border-radius: 10px; height: 479px">
      <div class="row">
        <div class="col s12">
        <h5 style="margin-top: 20px; font-weight: 200"><center><i class="fa fa-id-card-o animated slideInLeft" aria-hidden="true" style="margin-right: 5px;"></i>  Boarding Pass</center></h5>
        </div>
      </div>
      <div class="row">
        <div class="col s12" style="margin-top: -20px">
        <center>
            <h5 class="bp-title" style="margin-right:251px; font-weight: 200">Flight #</h5>
            <h5 class="bp-deets" style="margin-right:238px">{{boardingInfo.flight}}</h5>
            <span>
              <h5 class="bp-title" style="margin-left:220px; font-weight: 200; margin-top: -70px">Passenger</h5>
              <h5 class="bp-deets" style="margin-top: 8px; margin-left: 182px">{{boardingInfo.passenger}}</h5>
            </span>
         </center>
        </div>
      </div>
      <center>
         <div class="row">
          <div class="col s12" style="margin-top: -20px">
            <h5 class="bp-title" style="margin-right: 214px; font-weight: 200">Destination</h5>
            <h5 class="bp-deets" style="margin-left: -166px">{{boardingInfo.destination}}</h5>
          </div>
          <div class="col s12">
            <h5 class="bp-title" style="font-weight: 200; margin-left: 275px; margin-top:-70px">Gate</h5>
            <h5 class="bp-deets" style="margin-left: 282px; margin-top: 4px">{{boardingInfo.gate}}</h5>
          </div>
        </div>
      </center>
        <div class="col-sm-4">
            <h5 class="bp-title" style="font-weight: 200; margin-left: 8px; margin-top: -13px">Departure</h5>
            <h5 class="bp-deets" style="margin-left: 8px">{{boardingInfo.departure}}</h5>
        </div>
        <div class="row">
          <div class="col s12">
            <center>
              <img src="images/barcode.png" style="width:150px">
            </center>
          </div>
        </div> 
  </div>
</div>

  <!-- Modal for ID -->
  <div id="modal2" class="modal animated slideInUp" style="border-radius: 14px;margin-bottom: 38px; max-height: 518px; overflow-y: hidden">
    <div class="modal-content yellow lighten-5" style="border-radius: 10px; height: 514px">
      <div class="row">
        <div class="col s12">
        <h5 style="margin-top: 20px; font-weight: 200"><center style="margin-bottom: -13px;"><i class="fa fa-id-card-o animated slideInLeft" aria-hidden="true" style="margin-right: 5px;"></i>  California ID</center></h5>
        </div>
      </div>
      <center>
      <img class="animated fadeIn" id="thumbprint" src="images/portrait.png" style="width: 140px;">
      </center>
          <span>
          <center>
            <img class="animated fadeIn" id="thumbprint" src="images/signature.png" style="width: 140px;">
            </center>
          </span>
      <div class="row">
        <div class="col s12" style="margin-top: -20px">
        <center>
            <h5 class="bp-title" style="margin-right:251px; font-weight: 200; margin-top: -7px">Name</h5>
            <div class="col s12">
            <h5 class="bp-deets" style="margin-right:171px; margin-top: -9px">{{boardingInfo.passenger}}</h5>
            </div>
            <span>
            <div class="col s12">
              <h5 class="bp-title" style="margin-left: 236px;font-weight: 200;margin-top: -58px;">Height</h5>
              </div>
              <div class="col s12">
              <h5 class="bp-deets" style="margin-top: -30px;margin-left: 251px;">{{personal.height}}</h5>
              </div>
            </span>
         </center>
        </div>
      </div>
      <center>
         <div class="row">
          <div class="col s12" style="margin-top: -20px">
            <h5 class="bp-title" style="margin-right: 226px;font-weight: 200;margin-top: 9px;">Address</h5>
            <div class="col s6">
            <h5 class="bp-deets" style="margin-left: 7px;margin-top: -6px;">{{personal.address}}</h5>
            </div>
               <div class="col s12">
            <span>
            <h5 class="bp-title" style="font-weight: 200;margin-left: 266px;margin-top: -86px;">Age</h5>
             <div class="col s12">
            <h5 class="bp-deets" style="margin-left: 278px;margin-top: -5px;">{{personal.age}}</h5>
            </div>
            </span>
            </div>
          </div>
          </div>
        </div>
      </center>
        <div class="row">
          <div class="col s12">
            <center>
              <img class="animated fadeIn" id="thumbprint" src="images/fingerprint2.png" style="width: 90px;margin-top: -172px;">
            </center>
          </div>
        </div> 
        </div>
        </div>

          
        <!--button row-->
  <div class = "container">
  <div class="row" id="button_row">
    <a class="btn-floating btn-large waves-effect waves-light grey darken-3 animated bounceInUp" href="#card_flight"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
    <span id="space_button"><a class="btn-floating btn-large waves-effect waves-light grey darken-3 animated bounceInUp" href="#card_school" id="buttonslow"><i class="fa fa-ticket" aria-hidden="true"></i></a></span>
    <span id="space_button"><a class="btn-floating btn-large waves-effect waves-light grey darken-3 animated bounceInUp" href="#card_home" id="buttonslow2"><i class="fa fa-id-card-o" aria-hidden="true"></i></a></span>
    </div>
      </div>






        


        <!--airport card-->
<!--    <div class ="card" style="width: 20%">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/airport.jpg" data-holder-rendered="true">
      <div class="card-block">
          <h4 class="card-title"></h4>
          <a href="/airport" id='example' rel='popover' data-placement='auto' data-trigger ="hover" title = 'Hey there!' data-content='Click a location to begin' class="btn btn-primary" style = "width:100%">
            <i class="fa fa-plane fa-lg" aria-hidden="true"></i> Airport</a>

        </div>
      </div> -->


     <!--home-->
<!--       <div class ="card" style="width: 20%">
      <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%; display: block;" src="/images/home.png" data-holder-rendered="true">
      <div class="card-block">
          <h4 class="card-title"></h4>
          <a href="/home" class="btn btn-primary" style = "width:100%">
            <i class="fa fa-home fa-lg" aria-hidden="true"></i> Home</a>
        </div>
     </div> -->

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/navmap.js"></script>
  
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
 -->  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script> -->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
 -->  <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> -->
  
  <!-- new nav script -->
  <script src="js/polyfills.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="https://use.fontawesome.com/d14321a1f4.js"></script>



</body>
</html>
